<!DOCTYPE html>
<html lang="en">

<%-include('includes/head') %>

<body>
    
        <%-include('includes/navigation') %>

    <main>
        <% if (!error && users.length > 0) { %>
            <div class="grid">
                <% for (let user of users) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title">UserId : <%= user.id %></h1>
                        </header>
                       
                        <div class="card__content">
                            <h2 class="product__price">User Name: <%=user.login%></h2>
                            <p class="product__description">Admin: <%=user.site_admin%></p>
                        </div>
                        <div class="card__actions">
                            <a href="/update/<%=user._id%>"><button  class="btn">UPDATE</button></a>
                            <a href="/delete/<%=user._id%>"><button class="btn">DELETE</button></a> 
                            
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
        <h1>No Users Found!</h1>
        <% } %>
    </main>
</body>

</html>